In [7]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation

flights = pd.read_csv("csv_bestanden/TUI_ANR_ALC.csv", delimiter=",")
flights.head()

,search_date,departure_date,arrival_date,departure_time,arrival_time,departure_airport,arrival_airport,flight_duration,flight_type,flight_number,available_seats,price,flight_key
0,2023-03-09,2023-04-01,2023-04-01,06:30,09:10,ANR,ALC,2u 40m,Direct,TB 1101,10,219.99,TB~1101~ ~ANR~2023-04-01 06:30~ALC~2023-04-01 ...
1,2023-03-09,2023-04-02,2023-04-02,08:30,11:15,ANR,ALC,2u 45m,Direct,TB 1101,10,199.99,TB~1101~ ~ANR~2023-04-02 08:30~ALC~2023-04-02 ...
2,2023-03-09,2023-04-02,2023-04-02,14:05,16:45,ANR,ALC,2u 40m,Direct,TB 1103,10,159.99,TB~1103~ ~ANR~2023-04-02 14:05~ALC~2023-04-02 ...
3,2023-03-09,2023-04-02,2023-04-02,15:20,18:00,ANR,ALC,2u 40m,Direct,TB 1105,10,159.99,TB~1105~ ~ANR~2023-04-02 15:20~ALC~2023-04-02 ...
4,2023-03-09,2023-04-03,2023-04-03,08:00,10:40,ANR,ALC,2u 40m,Direct,TB 1101,10,164.99,TB~1101~ ~ANR~2023-04-03 08:00~ALC~2023-04-03 ...

### Gemiddelde prijs in juni op vluchtroute Antwerpen -> Alicante

In [8]:
flights = pd.read_csv("csv_bestanden/TUI_ANR_ALC.csv", delimiter=",")
flight_juni = flights.query("'2023-07-01' > departure_date >= '2023-06-01'")
flight_juni.price.mean()

177.49

### Aantal vluchten in mei op vluchtroute Brussel -> Corfu

In [9]:
flights = pd.read_csv("csv_bestanden/TUI_BRU_CFU.csv", delimiter=",")
flight_mei = flights.query("'2023-06-01' > departure_date >= '2023-05-01'" ).query("search_date == '2023-03-09'")
flight_mei.flight_key.count()

15

### Gemiddelde prijs in april op vluchtroute Luik -> Rhodos

In [10]:
flights = pd.read_csv("csv_bestanden/TUI_LGG_RHO.csv", delimiter=",")
flight_april = flights.query("'2023-05-01' > departure_date >= '2023-04-01'")
flight_april.price.mean()

264.99

### Vertrekuur op 18 juli voor vluchtroute Brussel -> Brindisi

In [18]:
flights = pd.read_csv("csv_bestanden/TUI_BRU_BDS.csv", delimiter=",")
flight_18jul = flights.query("departure_date == '2023-07-18'")
flight_18jul.iloc[0]['departure_time']

'15:15'

### Aankomstuur op 19 juni voor vluchtroute Luik -> Alicante

In [19]:
flights = pd.read_csv("csv_bestanden/TUI_LGG_ALC.csv", delimiter=",")
flight_19jun = flights.query("departure_date == '2023-06-19'")
flight_19jun.iloc[0]['arrival_time']

'08:45'

### Aantal tussenstops op 23 mei voor vluchtroute Brussel -> Corfu

In [23]:
flights = pd.read_csv("csv_bestanden/TUI_BRU_CFU.csv", delimiter=",")
flight_23mei = flights.query("departure_date == '2023-05-23'")
if flight_23mei.iloc[0]['flight_type'] == 'Stop Over':
    print('Er is 1 tussenstop')
else:
    print('Er zijn geen tussenstops')

Er is 1 tussenstop

### Aantal plaatsen beschikbaar op 30 mei voor vluchtroute Oostende -> Rhodos

In [25]:
flights = pd.read_csv("csv_bestanden/TUI_OST_RHO.csv", delimiter=",")
flight_30mei = flights.query("departure_date == '2023-05-30'")
if flight_30mei.iloc[0]['available_seats'] == 10:
    print("10 of meer plaatsen beschikbaar")
else:
    print(f"{flight_30mei.iloc[0]['available_seats']} nog beschikbare plaatsen")

10 of meer plaatsen beschikbaar