In [1]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation

In [7]:
flights = pd.read_csv("csv_bestanden/Ryanair_BRU_AGP.csv", delimiter=",")
flights.head()

,airline company,search_date,departure_date,departure_time,arrival_date,arrival_time,departure_aircode,departure_airport,arrival_aicode,arrival_airport,flight_duration,flight_number,available_seats,price,flight_key
0,Ryanair,2023-03-13,2023-03-14,20:10,2023-03-14,23:00,BRU,Brussels,AGP,Malaga,02:50,FR 2923,0,154.09,FR~2923~ ~~BRU~03/14/2023 20:10~AGP~03/14/2023...
1,Ryanair,2023-03-13,2023-03-16,19:35,2023-03-16,22:25,BRU,Brussels,AGP,Malaga,02:50,FR 2923,0,154.09,FR~2923~ ~~BRU~03/16/2023 19:35~AGP~03/16/2023...
2,Ryanair,2023-03-13,2023-03-17,10:20,2023-03-17,13:10,BRU,Brussels,AGP,Malaga,02:50,FR 2923,1,244.13,FR~2923~ ~~BRU~03/17/2023 10:20~AGP~03/17/2023...
3,Ryanair,2023-03-13,2023-03-21,20:10,2023-03-21,23:00,BRU,Brussels,AGP,Malaga,02:50,FR 2923,5,139.76,FR~2923~ ~~BRU~03/21/2023 20:10~AGP~03/21/2023...
4,Ryanair,2023-03-13,2023-03-23,19:35,2023-03-23,22:25,BRU,Brussels,AGP,Malaga,02:50,FR 2923,3,168.99,FR~2923~ ~~BRU~03/23/2023 19:35~AGP~03/23/2023...

### Aantal vluchten van Brussel-Zaventem naar Malaga in April

In [24]:
flights_bru_agp = pd.read_csv("csv_bestanden/Ryanair_BRU_AGP.csv", delimiter=",")
flights_bru_agp_april = flights_bru_agp.query("'2023-05-01' > departure_date >= '2023-04-01'")
flights_bru_agp_april["flight_key"].count()

13

### Gemiddelde prijs van vluchten van Brussel-Zaventem naar Palma in Mei

In [23]:
flights_bru_pmi = pd.read_csv("csv_bestanden/Ryanair_BRU_PMI.csv", delimiter=",")
flights_bru_pmi_mei = flights_bru_pmi.query("'2023-06-01' > departure_date >= '2023-05-01'")
flights_bru_pmi_mei["price"].mean()

100.28571428571429

### Totaal aantal beschikbare plaatsen van vluchten van Brussel-Zaventem naar Malaga in Juni

In [25]:
flights_bru_agp_juni = flights_bru_agp.query("'2023-07-01' > departure_date >= '2023-06-01'")

# extraSeats wilt zeggen dat er nog meer dan 10 plaatsen beschikbaar zijn
extraSeats = 0

if flights_bru_agp_juni['available_seats'].count() > -1:
    seats = flights_bru_agp_juni['available_seats'].count()
else: extraSeats +=1

seats, extraSeats

(12, 0)

### Aantal vluchten van Brussel-Zaventem naar Tenerife van 01/09 tem 14/09

geen plaatsen beschikbaar, dit is geen vluchtroute

### Aantal vluchten van Charleroi naar Alicante in Juni

In [30]:
flights_crl_alc = pd.read_csv("csv_bestanden/Ryanair_CRL_ALC.csv", delimiter=",")
flights_crl_alc_juni = flights_crl_alc.query("'2023-07-01' > departure_date >= '2023-06-01'")
flights_crl_alc_juni["flight_key"].count()

60

 ### Aantal vluchten van Charleroi naar Ibiza van 15/08 tem 27/08

In [46]:
flights_crl_ibz = pd.read_csv("csv_bestanden/Ryanair_CRL_IBZ.csv", delimiter=",")
flights_crl_ibz_152708 = flights_crl_ibz.query("'2023-08-28' > departure_date >= '2023-08-15'")
flights_crl_ibz_152708["flight_key"].count()

8

### Vertrekuur van vlucht van Charleroi naar Malaga op 8 april

In [50]:
flights_crl_agp = pd.read_csv("csv_bestanden/Ryanair_CRL_AGP.csv", delimiter=",")
flights_crl_agp_8apr = flights_crl_agp.query("departure_date == '2023-04-08'")
flights_crl_agp_8apr.iloc[0]["departure_time"]

'13:35'

### Aankomstuur van vlucht van Charleroi naar Palma op 19 april

In [51]:
flights_crl_pmi = pd.read_csv("csv_bestanden/Ryanair_CRL_PMI.csv", delimiter=",")
flights_crl_pmi_19apr = flights_crl_pmi.query("departure_date == '2023-04-19'")
flights_crl_pmi_19apr.iloc[0]["arrival_time"]

'09:05'

### Gemiddelde prijs van vluchten van Charleroi naar Tenerife op 15 mei

In [52]:
flights_crl_tfs = pd.read_csv("csv_bestanden/Ryanair_CRL_TFS.csv", delimiter=",")
flights_crl_tfs_15mei = flights_crl_tfs.query("departure_date == '2023-05-15'")
flights_crl_tfs_15mei["price"].mean()

nan

### Aantal beschikbare plaatsen van vluchten van Charleroi naar Napels op 19 april

In [53]:
flights_crl_nap = pd.read_csv("csv_bestanden/Ryanair_CRL_NAP.csv", delimiter=",")
flights_crl_nap_19apr = flights_crl_nap.query("departure_date == '2023-04-19'")
flights_crl_nap_19apr.iloc[0]["available_seats"]

-1

### Aantal tussenstops van vluchten van Charleroi naar Palermo op 26 mei

geen tussenstops

### Gemiddelde prijs van vluchten van Charleroi naar Brindisi van 15/09 tot 30/10

In [54]:
flights_crl_bds = pd.read_csv("csv_bestanden/Ryanair_CRL_BDS.csv", delimiter=",")
flights_crl_bds_1509_3010 = flights_crl_bds.query("'2023-10-30' > departure_date >= '2023-09-15'")
flights_crl_bds_1509_3010["price"].mean()

91.04299999999999